@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
  background: none;
  color: white;
}

small {
  color: white;
}

progress {
  border-radius: 7px;
}
progress::-webkit-progress-bar {
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(251 146 60);
  border-radius: 7px;
}
